<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="laboratorio4.Properties.Settings.cc" connectionString="Data Source=(local);Initial Catalog=Negocios;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="laboratorio4.Properties.Settings.cn" connectionString="Data Source=(local);Initial Catalog=Negocios;User ID=sa;Password=123;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>